.parachain-page {
    background-color: #282c34;
    color: #eee;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.parachain-table {
    margin-left: 40px;
    margin-right: 60px;
    margin-top: 4px;
    border: 0;
}

.parachain-table tr {
    display: table-row;
}

.parachain-table .table-row:hover {
    background-color: #1e1e1e;
    width: 100%;
}

.parachain-table th {
    height: 40px;
}
