.crowdloan-page {
    background-color: #282c34;
    color: #eee;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.crowdloan-table {
    margin-left: 10px;
    margin-top: 4px;
}

.crowdloan-table th {
    height: 40px;
}