.polkauction-header {
    display: flex;
  }

.polkauction-header .application-name {
  display: flex;
  justify-content: left;
  margin-left: 3vw;
}

.polkauction-header-links {
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: right;
    margin-right: 10px;
    position: absolute;
    right: 12px;
    top: 14px;
}

.relay-chains-tab {
  display: flex;
  flex-direction: row;    
  align-items: center;
  justify-content: left;
  margin-left: 4.5vw;
}

.relay-chains-tab h3 {
  font-size: 16px;
}

.relay-chains-tab button {
  background-color: inherit;
  float: left;
  border-radius: 8px 8px 0px 0px;
  border: 0px solid;
  outline: none;
  cursor: pointer;
  padding: 0px 24px;
  transition: 0.4s;
}

.relay-chains-tab button:hover {
  background-color: #ccc;
  border-radius: 8px 8px 0px 0px;
  border: 0px solid
}

.relay-chains-tab .selected {
  background-color: #ccc;
  border-radius: 8px 8px 0px 0px;
  border: 0px solid
}

.relay-chains-tab button.active {
  opacity: 1;
  background-color: #ccc;
}